In [1]:
import pandas as pd

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("nba_games.csv", index_col = 0)

In [3]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,35.0,81.0,0.432,11.0,26.0,0.423,27.0,36.0,...,34.2,33.7,160.0,118.0,OKC,92,0,2019,2018-10-19,True
17768,240.0,240.0,37.0,74.0,0.500,13.0,25.0,0.520,26.0,37.0,...,25.0,30.0,139.0,129.0,ORL,108,1,2017,2016-12-14,True
17769,240.0,240.0,42.0,89.0,0.472,14.0,33.0,0.424,10.0,20.0,...,25.6,29.9,175.0,126.0,LAC,113,0,2017,2016-12-14,False
17770,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
17771,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False

In [4]:
df= df.sort_values("date")

In [5]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
16086,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
16904,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
16905,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
16087,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
1225,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,240.0,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
11533,240.0,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
11532,240.0,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
7477,240.0,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
7476,240.0,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [6]:
df = df.reset_index(drop=True)

In [7]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,240.0,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,240.0,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,240.0,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
17768,240.0,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [8]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [9]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [10]:
def add_target(team) :
    team["target"] = team["won"].shift(-1)
    return team
    
df = df.groupby("team", group_keys=False).apply(add_target)

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  team["target"] = team["won"].shift(-1)
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2767016989.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby("team", group_keys=False).apply(add_target)

In [11]:
df[df["team"] == "LAL"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
13,240.0,35.0,90.0,0.389,9.0,34.0,0.265,32.0,35.0,0.914,...,31.3,206.0,119.0,MIN,112,0,2016,2015-10-28,False,False
56,240.0,41.0,89.0,0.461,11.0,34.0,0.324,21.0,27.0,0.778,...,33.3,200.0,112.0,SAC,132,1,2016,2015-10-30,False,False
76,240.0,31.0,85.0,0.365,10.0,34.0,0.294,21.0,28.0,0.750,...,24.0,155.0,105.0,DAL,103,0,2016,2015-11-01,False,False
116,240.0,36.0,86.0,0.419,6.0,26.0,0.231,31.0,38.0,0.816,...,27.5,193.0,115.0,DEN,120,0,2016,2015-11-03,False,True
152,240.0,33.0,78.0,0.423,7.0,23.0,0.304,31.0,40.0,0.775,...,27.2,116.0,109.0,BRK,98,1,2016,2015-11-06,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17468,240.0,49.0,92.0,0.533,6.0,20.0,0.300,14.0,21.0,0.667,...,46.1,201.0,121.0,DEN,129,0,2022,2022-04-03,False,False
17486,240.0,39.0,86.0,0.453,9.0,29.0,0.310,23.0,30.0,0.767,...,37.5,155.0,111.0,PHO,121,1,2022,2022-04-05,False,False
17525,240.0,37.0,83.0,0.446,9.0,32.0,0.281,29.0,38.0,0.763,...,31.6,300.0,114.0,GSW,128,1,2022,2022-04-07,False,True
17544,240.0,41.0,82.0,0.500,9.0,31.0,0.290,29.0,39.0,0.744,...,31.6,132.0,125.0,OKC,101,0,2022,2022-04-08,True,True
17581,265.0,44.0,94.0,0.468,16.0,43.0,0.372,42.0,47.0,0.894,...,34.7,159.0,138.0,DEN,141,1,2022,2022-04-10,True,NaN

In [12]:
df["target"][pd.isnull(df["target"])] = 2

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/887999586.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df["target"][pd.isnull(df["target"])] = 2
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/887999586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [13]:
df["target"] = df["target"].astype(int, errors="ignore")

In [14]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [15]:
df["won"].value_counts()

won
False    8886
True     8886
Name: count, dtype: int64

In [16]:
nulls = pd.isnull(df)

In [17]:
nulls = nulls.sum()

In [18]:
nulls = nulls[nulls>0]

In [19]:
valid_columns= df.columns[~df.columns.isin(nulls.index)]

In [20]:
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [21]:
df= df[valid_columns].copy()

In [22]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [23]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn) (1.12.0)
WARNING: You are using pip version 20.2.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [24]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier
#from sklearn.ensemble import RandomForestClassifier
#rf =  RandomForestClassifier(n_estimators=100, random_state=42)
rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit (n_splits=3)
sfs = SequentialFeatureSelector(rr, n_features_to_select= 30, direction="backward" , cv= split)

In [25]:
removed_columns= ["season", "date", "won", "target", "team", "team_opp"]

In [26]:
selected_columns= df.columns[~df.columns.isin(removed_columns)]

In [27]:
from sklearn.preprocessing import MinMaxScaler 

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [28]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.277279,0.554502,0.317647,GSW,0.451923,1.0,2016,2015-10-27,False,0
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.160462,0.345972,0.317647,CHI,0.317308,1.0,2016,2015-10-27,False,1
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.088575,0.232227,0.329412,CLE,0.298077,0.0,2016,2015-10-27,True,1
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,0.215661,0.530806,0.505882,NOP,0.298077,0.0,2016,2015-10-27,True,1
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.019255,0.203791,0.317647,DET,0.403846,0.0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.182285,0.208531,0.411765,GSW,0.413462,0.0,2022,2022-06-10,False,0
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.928113,1.000000,0.411765,BOS,0.288462,0.0,2022,2022-06-13,True,1
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.181001,0.630332,0.352941,GSW,0.384615,1.0,2022,2022-06-13,False,0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.120668,0.459716,0.400000,GSW,0.375000,0.0,2022,2022-06-16,False,2
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.263158,0.246445,0.576471,BOS,0.250000,1.0,2022,2022-06-16,True,2

In [ ]:
sfs.fit(df[selected_columns], df["target"])

In [30]:
predictors = list(selected_columns[sfs.get_support()])

In [31]:
predictors

['3p%',
 'ast',
 '3par',
 'ast%',
 'blk%',
 'fg_max',
 'fga_max',
 '3p%_max',
 'ft_max',
 'stl_max',
 'pts_max',
 '3par_max',
 'ast%_max',
 'drtg_max',
 '3p_opp',
 'blk_opp',
 'tov_opp',
 '3par_opp',
 'orb%_opp',
 'ast%_opp',
 'fg%_max_opp',
 '3p_max_opp',
 '3pa_max_opp',
 '3p%_max_opp',
 'orb_max_opp',
 '+/-_max_opp',
 'ts%_max_opp',
 'efg%_max_opp',
 'total_opp',
 'home_opp']

In [32]:
def backtest(data, model, predictors, start=2 , step=1):
    all_predictions= []
    seasons = sorted(data["season"].unique())
    for i in range (start, len(seasons), step) :
        
        season = seasons[i]
        
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index= test.index)
        combined = pd.concat([test["target"], preds], axis= 1)
        combined.columns = ["actual", "predictions"]
        all_predictions.append(combined)
        
        
    return pd.concat(all_predictions)

In [33]:
predictions = backtest(df, rr, predictors)

In [34]:
predictions

       actual  predictions
5250        1            1
5251        1            1
5252        0            1
5253        1            0
5254        0            1
...       ...          ...
17767       0            0
17768       1            1
17769       0            1
17770       2            1
17771       2            1

[12522 rows x 2 columns]

In [35]:
from sklearn.metrics import accuracy_score 
accuracy_score(predictions["actual"], predictions["predictions"])

0.546957355055103

In [36]:
df.groupby("home").apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3128703651.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("home").apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.428314
1.0    0.571686
dtype: float64

In [37]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,0.277279,0.554502,0.317647,GSW,0.451923,1.0,2016,2015-10-27,False,0
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,0.160462,0.345972,0.317647,CHI,0.317308,1.0,2016,2015-10-27,False,1
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,0.088575,0.232227,0.329412,CLE,0.298077,0.0,2016,2015-10-27,True,1
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,0.215661,0.530806,0.505882,NOP,0.298077,0.0,2016,2015-10-27,True,1
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,0.019255,0.203791,0.317647,DET,0.403846,0.0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.182285,0.208531,0.411765,GSW,0.413462,0.0,2022,2022-06-10,False,0
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.928113,1.000000,0.411765,BOS,0.288462,0.0,2022,2022-06-13,True,1
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.181001,0.630332,0.352941,GSW,0.384615,1.0,2022,2022-06-13,False,0
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.120668,0.459716,0.400000,GSW,0.375000,0.0,2022,2022-06-16,False,2
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.263158,0.246445,0.576471,BOS,0.250000,1.0,2022,2022-06-16,True,2

In [38]:
df_rolling = df[list(selected_columns) + ["won", "team", "season"]]

In [39]:
def find_team_averages(team):
    rolling = team[selected_columns].rolling(40).mean()
    return rolling 

df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/2976354101.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

In [40]:
df_rolling

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,trb%_max_opp,ast%_max_opp,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.00625,0.484091,0.360294,0.496531,0.506034,0.515909,0.452910,0.392442,0.336111,0.778413,...,0.184488,0.333314,0.054900,0.094325,0.412605,0.197978,0.418483,0.592059,0.385577,0.500
17768,0.00000,0.505114,0.383456,0.505024,0.478448,0.501515,0.446259,0.337791,0.303571,0.741511,...,0.177008,0.401061,0.062450,0.089425,0.374083,0.201637,0.513152,0.540294,0.427163,0.500
17769,0.00625,0.475568,0.355147,0.490311,0.501724,0.514015,0.450297,0.397674,0.342460,0.774825,...,0.183883,0.339937,0.053100,0.092925,0.416090,0.196662,0.427962,0.582647,0.384856,0.525
17770,0.00625,0.472159,0.354044,0.486902,0.496552,0.510985,0.447951,0.387209,0.332143,0.779317,...,0.181986,0.340797,0.054075,0.093175,0.414334,0.190436,0.430450,0.575000,0.380769,0.525
17771,0.00000,0.500568,0.383456,0.499821,0.481897,0.506061,0.445428,0.337209,0.299206,0.756855,...,0.186909,0.404845,0.062325,0.092200,0.391378,0.201187,0.512796,0.542059,0.418990,0.500

In [41]:
rolling_cols = [f"{col}_40" for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis= 1)

In [42]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,trb%_max_opp_40,ast%_max_opp_40,stl%_max_opp_40,blk%_max_opp_40,tov%_max_opp_40,usg%_max_opp_40,ortg_max_opp_40,drtg_max_opp_40,total_opp_40,home_opp_40
0,0.0,0.363636,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.431818,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.409091,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.500000,0.529412,0.377990,0.310345,0.393939,0.356295,0.441860,0.333333,0.893816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.409091,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.184488,0.333314,0.054900,0.094325,0.412605,0.197978,0.418483,0.592059,0.385577,0.500
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.177008,0.401061,0.062450,0.089425,0.374083,0.201637,0.513152,0.540294,0.427163,0.500
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.183883,0.339937,0.053100,0.092925,0.416090,0.196662,0.427962,0.582647,0.384856,0.525
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.181986,0.340797,0.054075,0.093175,0.414334,0.190436,0.430450,0.575000,0.380769,0.525
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.186909,0.404845,0.062325,0.092200,0.391378,0.201187,0.512796,0.542059,0.418990,0.500

In [43]:
df = df.dropna()

In [44]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,trb%_max_opp_40,ast%_max_opp_40,stl%_max_opp_40,blk%_max_opp_40,tov%_max_opp_40,usg%_max_opp_40,ortg_max_opp_40,drtg_max_opp_40,total_opp_40,home_opp_40
1116,0.0,0.363636,0.250000,0.444976,0.206897,0.212121,0.395487,0.186047,0.285714,0.386231,...,0.224945,0.424541,0.077000,0.122800,0.440933,0.210623,0.455806,0.335294,0.394231,0.575
1118,0.0,0.522727,0.588235,0.361244,0.655172,0.606061,0.513064,0.255814,0.206349,0.833139,...,0.172662,0.343893,0.064075,0.092925,0.364020,0.162227,0.433057,0.453824,0.375481,0.550
1137,0.0,0.295455,0.397059,0.236842,0.206897,0.378788,0.245843,0.558140,0.492063,0.744457,...,0.157316,0.383916,0.066025,0.090550,0.441719,0.145443,0.412322,0.387647,0.399279,0.575
1138,0.0,0.545455,0.485294,0.461722,0.103448,0.136364,0.274347,0.372093,0.428571,0.541424,...,0.184846,0.363647,0.062625,0.087050,0.450655,0.147015,0.412204,0.418824,0.380529,0.550
1141,0.0,0.318182,0.176471,0.452153,0.241379,0.212121,0.461995,0.395349,0.365079,0.708285,...,0.163311,0.353756,0.064350,0.093275,0.417925,0.147593,0.456043,0.403235,0.334135,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.184488,0.333314,0.054900,0.094325,0.412605,0.197978,0.418483,0.592059,0.385577,0.500
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.177008,0.401061,0.062450,0.089425,0.374083,0.201637,0.513152,0.540294,0.427163,0.500
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.183883,0.339937,0.053100,0.092925,0.416090,0.196662,0.427962,0.582647,0.384856,0.525
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.181986,0.340797,0.054075,0.093175,0.414334,0.190436,0.430450,0.575000,0.380769,0.525
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.186909,0.404845,0.062325,0.092200,0.391378,0.201187,0.512796,0.542059,0.418990,0.500

In [45]:
def shift_col(team, col_name) :
    next_col= team[col_name].shift(-1)
    return next_col

def add_col(df, col_name) :
    return df.groupby("team", group_keys = False).apply(lambda x : shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby("team", group_keys = False).apply(lambda x : shift_col(x, col_name))
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["home_next"] = add_col(df, "home")
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby("team", group_keys = False).apply(lambda x : shift_col(x, col_name))
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["team_opp_next"] = add_col(df, "team_opp")
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby("team", group_keys = False).apply(lambda x : shift_col(x, col_name))
/var/folders/3z/tb7pjvyx6jsbhmnymb3tp1dm0000gn/T/ipykernel_6479/3338776833.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_next"] = add_col(df, "date")

In [46]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,blk%_max_opp_40,tov%_max_opp_40,usg%_max_opp_40,ortg_max_opp_40,drtg_max_opp_40,total_opp_40,home_opp_40,home_next,team_opp_next,date_next
1116,0.0,0.363636,0.250000,0.444976,0.206897,0.212121,0.395487,0.186047,0.285714,0.386231,...,0.122800,0.440933,0.210623,0.455806,0.335294,0.394231,0.575,1.0,CHI,2016-01-14
1118,0.0,0.522727,0.588235,0.361244,0.655172,0.606061,0.513064,0.255814,0.206349,0.833139,...,0.092925,0.364020,0.162227,0.433057,0.453824,0.375481,0.550,1.0,UTA,2016-01-13
1137,0.0,0.295455,0.397059,0.236842,0.206897,0.378788,0.245843,0.558140,0.492063,0.744457,...,0.090550,0.441719,0.145443,0.412322,0.387647,0.399279,0.575,0.0,GSW,2016-01-14
1138,0.0,0.545455,0.485294,0.461722,0.103448,0.136364,0.274347,0.372093,0.428571,0.541424,...,0.087050,0.450655,0.147015,0.412204,0.418824,0.380529,0.550,0.0,WAS,2016-01-13
1141,0.0,0.318182,0.176471,0.452153,0.241379,0.212121,0.461995,0.395349,0.365079,0.708285,...,0.093275,0.417925,0.147593,0.456043,0.403235,0.334135,0.500,1.0,DET,2016-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,0.0,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.094325,0.412605,0.197978,0.418483,0.592059,0.385577,0.500,0.0,GSW,2022-06-13
17768,0.0,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.089425,0.374083,0.201637,0.513152,0.540294,0.427163,0.500,0.0,BOS,2022-06-16
17769,0.0,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.092925,0.416090,0.196662,0.427962,0.582647,0.384856,0.525,1.0,GSW,2022-06-16
17770,0.0,0.340909,0.294118,0.373206,0.379310,0.363636,0.466746,0.232558,0.174603,0.903151,...,0.093175,0.414334,0.190436,0.430450,0.575000,0.380769,0.525,NaN,None,None
17771,0.0,0.431818,0.470588,0.344498,0.655172,0.636364,0.490499,0.162791,0.111111,1.000000,...,0.092200,0.391378,0.201187,0.512796,0.542059,0.418990,0.500,NaN,None,None

In [47]:
df= df.copy()

In [48]:
full = df.merge(df[rolling_cols+ ["team_opp_next", "date_next", "team"]], left_on= ["team", "date_next"], right_on=["team_opp_next", "date_next"])

In [49]:
full

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,stl%_max_opp_40_y,blk%_max_opp_40_y,tov%_max_opp_40_y,usg%_max_opp_40_y,ortg_max_opp_40_y,drtg_max_opp_40_y,total_opp_40_y,home_opp_40_y,team_opp_next_y,team_y
0,0.00,0.431818,0.323529,0.464115,0.517241,0.439394,0.540380,0.372093,0.444444,0.516919,...,0.056225,0.077150,0.391850,0.149615,0.362559,0.406471,0.371635,0.450,OKC,MIN
1,0.00,0.500000,0.455882,0.435407,0.241379,0.272727,0.377672,0.325581,0.349206,0.593932,...,0.063300,0.091400,0.407233,0.148492,0.457227,0.411176,0.332933,0.500,NYK,MEM
2,0.00,0.386364,0.264706,0.461722,0.275862,0.196970,0.559382,0.534884,0.460317,0.766628,...,0.063275,0.076525,0.371305,0.133344,0.381991,0.517941,0.353606,0.425,MIN,OKC
3,0.25,0.409091,0.441176,0.339713,0.275862,0.303030,0.395487,0.534884,0.476190,0.736289,...,0.076200,0.074725,0.427883,0.195379,0.385900,0.380882,0.372596,0.475,TOR,BRK
4,0.25,0.522727,0.485294,0.437799,0.413793,0.348485,0.527316,0.325581,0.301587,0.708285,...,0.061225,0.089475,0.363679,0.164185,0.434360,0.466765,0.371875,0.550,PHI,POR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9415,0.00,0.545455,0.426471,0.511962,0.448276,0.469697,0.440618,0.372093,0.365079,0.659277,...,0.063175,0.086400,0.380425,0.186329,0.503081,0.544118,0.441587,0.525,BOS,GSW
9416,0.00,0.477273,0.455882,0.409091,0.517241,0.590909,0.414489,0.255814,0.222222,0.766628,...,0.054900,0.094325,0.412605,0.197978,0.418483,0.592059,0.385577,0.500,GSW,BOS
9417,0.00,0.340909,0.367647,0.313397,0.517241,0.515152,0.469121,0.302326,0.285714,0.693116,...,0.062825,0.086875,0.367531,0.184692,0.501303,0.546176,0.433894,0.525,BOS,GSW
9418,0.00,0.500000,0.411765,0.471292,0.310345,0.545455,0.267221,0.279070,0.222222,0.844807,...,0.053100,0.092925,0.416090,0.196662,0.427962,0.582647,0.384856,0.525,GSW,BOS
9419,0.00,0.272727,0.220588,0.344498,0.379310,0.424242,0.408551,0.465116,0.476190,0.623104,...,0.062450,0.089425,0.374083,0.201637,0.513152,0.540294,0.427163,0.500,BOS,GSW

In [50]:
full [["team_x", "team_opp_next_x" , "team_y" , "team_opp_next_y", "date_next"]]

     team_x team_opp_next_x team_y team_opp_next_y   date_next
0       OKC             MIN    MIN             OKC  2016-01-15
1       NYK             MEM    MEM             NYK  2016-01-16
2       MIN             OKC    OKC             MIN  2016-01-15
3       TOR             BRK    BRK             TOR  2016-01-18
4       PHI             POR    POR             PHI  2016-01-16
...     ...             ...    ...             ...         ...
9415    BOS             GSW    GSW             BOS  2022-06-10
9416    GSW             BOS    BOS             GSW  2022-06-13
9417    BOS             GSW    GSW             BOS  2022-06-13
9418    GSW             BOS    BOS             GSW  2022-06-16
9419    BOS             GSW    GSW             BOS  2022-06-16

[9420 rows x 5 columns]

In [51]:
removed_columns= list(full.columns[full.dtypes== "object"]) + removed_columns

In [52]:
removed_columns

['team_x',
 'team_opp',
 'date',
 'team_opp_next_x',
 'date_next',
 'team_opp_next_y',
 'team_y',
 'season',
 'date',
 'won',
 'target',
 'team',
 'team_opp']

In [53]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]

In [ ]:
sfs.fit(full[selected_columns], full["target"])

In [ ]:
predictors= list(selected_columns[sfs.get_support()])

In [ ]:
predictors

In [ ]:
predictions = backtest(full, rr, predictors)

In [ ]:
accuracy_score(predictions["actual"], predictions["predictions"])